---
apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: docker-registry
spec:
{% if public_access %}
  type: NodePort
  ports:
    - port: 443
      targetPort: 443
      protocol: TCP
      nodePort: 31111
{% else %}
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
{% endif %}
  selector:
    app: registry